In [1]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [11]:
# load the iris data
iris = load_iris()

# round up the measurements
X = np.ceil(iris.data)

# clean up column names
features = [name[:-5].replace(' ','_') for name in iris.feature_names]

# read into pandas
df = pd.DataFrame(X, columns = features)

# create a list of species using iris.target and iris.target_names
species = [iris.target_names[num] for num in iris.target]

# add the species list as a new DataFrame column
df['species'] = species

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [12]:
# print the head
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0             6            4             2            1  setosa
1             5            3             2            1  setosa
2             5            4             2            1  setosa
3             5            4             2            1  setosa
4             5            4             2            1  setosa

In [13]:
# show all observations iwth features: 7, 3, 5, 2
df[(df.sepal_length==7) & (df.sepal_width==3) & (df.petal_length==5) & (df.petal_width==2)]

     sepal_length  sepal_width  petal_length  petal_width     species
54              7            3             5            2  versicolor
58              7            3             5            2  versicolor
63              7            3             5            2  versicolor
68              7            3             5            2  versicolor
72              7            3             5            2  versicolor
73              7            3             5            2  versicolor
74              7            3             5            2  versicolor
75              7            3             5            2  versicolor
76              7            3             5            2  versicolor
77              7            3             5            2  versicolor
87              7            3             5            2  versicolor
91              7            3             5            2  versicolor
97              7            3             5            2  versicolor
123             7            3             5            2   virginica
126             7            3             5            2   virginica
127             7            3             5            2   virginica
146             7            3             5            2   virginica

In [14]:
# count the species for these observations
df[(df.sepal_length==7) & (df.sepal_width==3) & (df.petal_length==5) & (df.petal_width==2)].species.value_counts()

versicolor    13
virginica      4
dtype: int64

In [15]:
# count the species for all observations
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
dtype: int64