In [1]:
# imports
import pandas as pd
import StringIO
import zipfile
import requests
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import re
import json

In [11]:
# read in capital bike share and citi bike data frames
df_capital = pd.read_csv('C:/Users/Michael/projects/capitalbikeshare/Q22015CapitalBikeShare.csv',index_col = 0)
df_citi = pd.read_csv('C:/Users/Michael/projects/capitalbikeshare/June2015CitiBike.csv', index_col = 0)

In [12]:
# let's take a look at what we're working with
print 'df_citi summary','\n'
print df_citi.shape, '\n'
print df_citi.dtypes, '\n'
print df_citi.columns.values,'\n'
print df_citi.head()

print '\n', '\n'

print 'df_capital summary','\n'
print df_capital.shape, '\n'
print df_capital.dtypes, '\n'
print df_capital.columns.values,'\n'
print df_capital.head()

df_citi summary

(915072, 30)

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
altitude                   float64
availableBikes             float64
availableDocks             float64
city                       float64
id                         float64
landMark                   float64
lastCommunicationTime       object
latitude                   float64
longitude                  float64
postalCode                 float64
stAddress1                  object
stAddress2                 float64
statusKey                  float64
testStation                   bool
totalDocks                 float64
dtype: object

['tripduration' 'starttime' 'stoptime' 'start station id'
 'start station name' 'start station latitude' 'start station longitude'
 'end station id' 'end station name' 'end station latitude'
 'end station longitude' 'bikeid' 'usertype' 'birth year' 'gender'
 'altitude' 'availableBikes' 'availableDocks' 'city' 'id' 'landMark'
 'lastCommunicationTime' 'latitude' 'longitude' 'postalCode' 'stAddress1'
 'stAddress2' 'statusKey' 'testStation' 'totalDocks']

   tripduration      starttime       stoptime  start station id  \
0          1338  6/1/2015 0:00  6/1/2015 0:22               128
1           290  6/1/2015 0:00  6/1/2015 0:05               438
2           634  6/1/2015 0:01  6/1/2015 0:11               383
3           159  6/1/2015 0:01  6/1/2015 0:04               361
4          1233  6/1/2015 0:02  6/1/2015 0:22               382

           start station name  start station latitude  \
0    MacDougal St & Prince St               40.727103
1         St Marks Pl & 1 Ave               40.727791
2  Greenwich Ave & Charles St               40.735238
3        Allen St & Hester St               40.716059
4     University Pl & E 14 St               40.734927

   start station longitude  end station id         end station name  \
0               -74.002971            2021          W 45 St & 8 Ave
1               -73.985649             312  Allen St & E Houston St
2               -74.000271             388         W 26 St & 10 Ave
3               -73.991908             531   Forsyth St & Broome St
4               -73.992005             532          S 5 Pl & S 4 St

   end station latitude     ...      landMark   lastCommunicationTime  \
0             40.759291     ...           NaN  2015-12-28 03:03:50 PM
1             40.722055     ...           NaN  2015-12-28 03:05:49 PM
2             40.749718     ...           NaN  2015-12-28 03:04:46 PM
3             40.718939     ...           NaN  2015-12-28 03:05:17 PM
4             40.710451     ...           NaN  2015-12-28 03:07:11 PM

    latitude  longitude  postalCode                  stAddress1  stAddress2  \
0  40.727103 -74.002971         NaN    MacDougal St & Prince St         NaN
1  40.727791 -73.985649         NaN         St Marks Pl & 1 Ave         NaN
2  40.735238 -74.000271         NaN  Greenwich Ave & Charles St         NaN
3  40.716059 -73.991908         NaN        Allen St & Hester St         NaN
4  40.734927 -73.992005         NaN     University Pl & E 14 St         NaN

   statusKey  testStation  totalDocks
0          1        False          30
1          1        False          27
2          1        False          39
3          1        False          43
4          1        False          36

[5 rows x 30 columns]



df_capital summary

(991151, 17)

Duration(ms)           int64
Start_date            object
Start_station         object
End_date              object
End_station           object
Bike_number           object
Subscription_type     object
Duration(h:m:s)       object
Start_month            int64
id                     int64
terminalname           int64
installed               bool
temporary               bool
public                  bool
nbbikes              float64
nbemptydocks         float64
totaldocks           float64
dtype: object

['Duration(ms)' 'Start_date' 'Start_station' 'End_date' 'End_station'
 'Bike_number' 'Subscription_type' 'Duration(h:m:s)' 'Start_month' 'id'
 'terminalname' 'installed' 'temporary' 'public' 'nbbikes' 'nbemptydocks'
 'totaldocks']

   Duration(ms)       Start_date                   Start_station  \
0       1761773  6/30/2015 23:58  17th St & Massachusetts Ave NW
1        193188  6/30/2015 23:58                   5th & K St NW
2       2895041  6/30/2015 23:57       Jefferson Dr & 14th St SW
3       2845488  6/30/2015 23:57       Jefferson Dr & 14th St SW
4       1130426  6/30/2015 23:57         Park Rd & Holmead Pl NW

        End_date                        End_station Bike_number  \
0  7/1/2015 0:27  USDA / 12th & Independence Ave SW      W21320
1  7/1/2015 0:01                      3rd & H St NW      W20832
2  7/1/2015 0:45          Jefferson Dr & 14th St SW      W21519
3  7/1/2015 0:44          Jefferson Dr & 14th St SW      W00335
4  7/1/2015 0:16          1st & Rhode Island Ave NW      W20576

  Subscription_type            Duration(h:m:s)  Start_month   id  \
0            Casual  0 days 00:29:21.773000000            6  229
1            Member  0 days 00:03:13.188000000            6   31
2            Casual  0 days 00:48:15.041000000            6  168
3            Casual  0 days 00:47:25.488000000            6  168
4            Member  0 days 00:18:50.426000000            6   33

   terminalname installed temporary public  nbbikes  nbemptydocks  totaldocks
0         31267      True     False   True        5            12          17
1         31600      True     False   True        3            14          17
2         31247      True     False   True       20             0          20
3         31247      True     False   True       20             0          20
4         31602      True     False   True        4            14          18

In [13]:
# let's align the datasets
# include only june data from the capital bikeshare dataset
df_cap = df_capital[df_capital.Start_month == 6].reset_index()

# add duration in seconds to capital bikeshare
df_cap['Duration(seconds)'] = df_cap['Duration(ms)'].divide(1000)
df_cap['Duration(seconds)'] = df_cap['Duration(seconds)'].round(decimals=0)
df_citi['Duration(seconds)'] = df_citi['tripduration']

# reduce the datasets to only show columns in common with each other
df_citi = df_citi[['tripduration','Duration(seconds)','starttime','start station name','stoptime','end station name','usertype','bikeid','availableBikes','availableDocks','totalDocks','testStation']]
df_cap = df_cap[['Duration(h:m:s)','Duration(seconds)','Start_date','Start_station','End_date','End_station','Subscription_type','Bike_number','nbbikes','nbemptydocks','totaldocks','temporary']]

In [14]:
# how many test stations are there?
print df_citi['testStation'].value_counts()
print df_cap['temporary'].value_counts()
# there aren't any test stations in the dataframe

False    915072
dtype: int64
False    311692
dtype: int64

In [15]:
# convert tripduration in citi to date type
df_citi['tripduration'] = pd.to_timedelta(df_citi['tripduration'],unit='s')

# re-name the columns so that they are the same in both dataframes
df_citi.columns = df_cap.columns

# add an source column
df_citi['datasource'] = 'citibike'
df_cap['datasource'] = 'capitalbikeshare'

# combine dataframes
df_bikes = df_citi.append(df_cap, ignore_index=True)
df_bikes.head()

,Duration(h:m:s),Duration(seconds),Start_date,Start_station,End_date,End_station,Subscription_type,Bike_number,nbbikes,nbemptydocks,totaldocks,temporary,datasource
0,0:22:18,1338,6/1/2015 0:00,MacDougal St & Prince St,6/1/2015 0:22,W 45 St & 8 Ave,Subscriber,20721,26,4,30,False,citibike
1,0:04:50,290,6/1/2015 0:00,St Marks Pl & 1 Ave,6/1/2015 0:05,Allen St & E Houston St,Subscriber,21606,1,26,27,False,citibike
2,0:10:34,634,6/1/2015 0:01,Greenwich Ave & Charles St,6/1/2015 0:11,W 26 St & 10 Ave,Subscriber,16595,10,28,39,False,citibike
3,0:02:39,159,6/1/2015 0:01,Allen St & Hester St,6/1/2015 0:04,Forsyth St & Broome St,Subscriber,16949,2,41,43,False,citibike
4,0:20:33,1233,6/1/2015 0:02,University Pl & E 14 St,6/1/2015 0:22,S 5 Pl & S 4 St,Customer,17028,23,11,36,False,citibike

In [18]:
# add day of day & hour start to data
dates = pd.DatetimeIndex(df_bikes.Start_date)
df_bikes['Start_day'] = dates.day
df_bikes['Start_hour'] = dates.hour
df_bikes.head()

,Duration(h:m:s),Duration(seconds),Start_date,Start_station,End_date,End_station,Subscription_type,Bike_number,nbbikes,nbemptydocks,totaldocks,temporary,datasource,Start_day,Start_hour
0,0:22:18,1338,6/1/2015 0:00,MacDougal St & Prince St,6/1/2015 0:22,W 45 St & 8 Ave,Subscriber,20721,26,4,30,False,citibike,1,0
1,0:04:50,290,6/1/2015 0:00,St Marks Pl & 1 Ave,6/1/2015 0:05,Allen St & E Houston St,Subscriber,21606,1,26,27,False,citibike,1,0
2,0:10:34,634,6/1/2015 0:01,Greenwich Ave & Charles St,6/1/2015 0:11,W 26 St & 10 Ave,Subscriber,16595,10,28,39,False,citibike,1,0
3,0:02:39,159,6/1/2015 0:01,Allen St & Hester St,6/1/2015 0:04,Forsyth St & Broome St,Subscriber,16949,2,41,43,False,citibike,1,0
4,0:20:33,1233,6/1/2015 0:02,University Pl & E 14 St,6/1/2015 0:22,S 5 Pl & S 4 St,Customer,17028,23,11,36,False,citibike,1,0

In [20]:
# flip into CSV file
df_bikes.to_csv('C:/Users/Michael/projects/capitalbikeshare/CombinedBikeData.csv')